<nav class="bg-blue-700 p-4">
  <ul class="flex justify-around space-x-4">
    <li>
      <a
        routerLink="/"
        routerLinkActive="text-white"
        class="text-gray-300 hover:text-white text-4 transition duration-300"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/appointments"
        routerLinkActive="text-white"
        class="text-gray-300 hover:text-white transition duration-300"
      >
        My Appointments
      </a>
    </li>
    <li>
      <a
        routerLink="/testimonials"
        routerLinkActive="text-white"
        class="text-gray-300 hover:text-white transition duration-300"
      >
        Testimonials
      </a>
    </li>
    <li>
      <a
        routerLink="/feedback"
        routerLinkActive="text-white"
        class="text-gray-300 hover:text-white transition duration-300"
      >
        Feedback
      </a>
    </li>

    
  </ul>
</nav>

