<div class="max-w-4xl mx-auto px-4 py-8">
  <h2 class="text-2xl font-bold mb-6 text-center text-blue-600">
    All Appointments
  </h2>

  <div *ngIf="loading" class="text-gray-500 text-center">
    Loading appointments...
  </div>
  <div *ngIf="error" class="text-red-600 text-center mb-4">{{ error }}</div>
  <div
    *ngIf="!loading && appointments.length === 0"
    class="text-gray-600 text-center"
  >
    No appointments found.
  </div>

  <div
    *ngIf="appointments.length > 0"
    class="grid grid-cols-1 md:grid-cols-2 gap-6"
  >
    <div
      *ngFor="let appt of appointments"
      class="border rounded-lg shadow-md p-5 hover:shadow-lg transition duration-200 bg-white"
    >
      <p class="text-sm text-gray-400">
        Appointment ID: <span class="font-mono">{{ appt.id }}</span>
      </p>
      <h3 class="text-lg font-semibold text-gray-800 mt-2">
        {{ appt.patientName }}
      </h3>
      <p class="text-gray-600">📞 {{ appt.contactNumber }}</p>
      <p class="text-gray-600">
        👨‍⚕️ Doctor ID: <span class="font-semibold">{{ appt.doctorId }}</span>
      </p>
      <p class="text-gray-700 bg-blue-100 inline-block px-2 py-1 rounded mt-2">
        🕒 Slot: {{ appt.slot }}
      </p>
      <button
        class="bg-red-600 text-white font-medium py-1 ml-9 px-4 rounded"
        *ngIf="appt.cancellable"
        (click)="cancelAppointment(appt.id, appt.doctorId, appt.slot)"
      >
        Cancel Booking
      </button>
      <p class="text-xs text-gray-500 mt-2">
        Booked At: {{ appt.createdAt?.toDate() | date : "medium" }}
      </p>
      <p class="text-xs text-red-500 mt-2" *ngIf="!appt.cancellable">* This is not cancellable </p>
    </div>
  </div>
</div>
